<p id="notice"><%= notice %></p>

<br>
<div class="main">
    <div class="container">
    <h1>バイト表</h1>
    <%= link_to 'バイト依頼', new_job_path ,class:"btn btn-primary"%>
        <%= month_calendar events: @jobs do |date, jobs| %>
            <%= date.day %>

            <% jobs.each do |job| %>
                <div>
                    <%= link_to job.people, job_path(job) %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>