<!DOCTYPE html>
<html>
  <head>
    <title>Job+</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "job+" , "/" %></li>      
      <li><%= link_to "ログイン" , new_user_session_path %></li>
      <li><%= link_to "新規登録" , new_user_registration_path %></li>
      <li><%= link_to "バイト一覧" , jobs_index_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
